# Variables de entorno
*.env

# Archivos de Python
.venv/
__pycache__/
*.py[cod]
*$py.class

# Node
node_modules/
.next/
dist/
build/

# IDEs
.vscode/
.idea/


# Test
.pytest_cache/